.h3, h3 {
    font-size: 1.75rem;
    margin-top: 2rem;
}

.h4, h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

main {
    background-image: url("/img/worn-graph-paper-background.jpg")
}

/* .bash.highlight {
    background-color: gray;
}

.bash.highlight span.line {
    color: white;
} */

pre.line-numbers {
    padding: 1em 0.25em;
    background-color: #404040;
}

pre.line-numbers code {
    color: whitesmoke;
}

pre.line-numbers span.comment {
    color: rgb(138, 240, 138);
}
pre.line-numbers span.function {
    color: rgb(224, 125, 224);
}
pre.line-numbers span.operator {
    color: rgb(255, 255, 255);
}
pre.line-numbers span.builtin {
    color: rgb(224, 125, 224);
}